<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refunds</title>
</head>
<body> -->
{% extends 'main/base.html' %} {% block title %}Claim Page{% endblock %}
{% load crispy_forms_tags %} {% block content %}
    
    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        {% for prod in products %}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">{{prod.order_id}}</a>
        </div>
        {% endfor %}
      </div> -->
   
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlSelect1">Products to Claim</label>
            <select class="form-control" id= "prod" name = "prod">
                {% for prod in products %}
                <option value="{{prod.order_id}}" SELECTED>{{prod.name}}</option>
                {% endfor %}
            </select>
          </div>
        <br>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Initiate</button>
            
          </div>
    </form>

{% endblock %}
<!-- </body>
</html> -->