{% extends 'main/base.html' %} {% block title %}Patient Page{% endblock %}
{% load crispy_forms_tags %} {% block content %}
<h1 class="text-center">Patient Page</h1>

<!-- Show user's own posts and posts shared by other users to the user -->

{% if user_posts %}
<br><br>
<h3 class="text-left">Your Uploaded Files</h2>
{% for post in user_posts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <!-- Show download button if the post has a file -->
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" value="{{post.id}}" name="download-user">Download</button>
            <!-- To delete the post -->
            {% if post.author == user %}
            <button type="submit" class="btn btn-danger" value="{{post.id}}" name="delete-user">Delete</button>
            {% endif %}
        </form>
        <p class="card-text">File Shared to: {{post.share_to_user.username}}</p>
        <p class="card-text"><small class="text-muted">Posted by {{post.author.username}} on {{post.created_at}}</small>
        </p>
    </div>
</div>
{% endfor %}
{% endif %}

{% if shared_with_user_posts %}
<br><br>
<h3 class="text-left">Files Shared by Others</h2>
{% for post in shared_with_user_posts %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <!-- Show download button if the post has a file -->
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" value="{{post.id}}" name="download-shared-user">Download</button>
            {% if post.role == 'insurance' %}
            <a class="btn btn-primary" href="/refund" role="button">Claim</a>
            {% endif %}

            {% if post.role == 'pharmacy' %}
            {% comment %} add button for payment {% endcomment %}

            <a class="btn btn-primary" href="/payment" role="button">Store</a>             
            {% endif %}
        </form>
        <br>
        <!-- Show a tick mark if the document is digitally signed with the text "Signed" and show a cross mark if the document is not digitally signed with the text "Not Signed" -->
        {% if post.is_signed %}
        <i class="fas fa-check-circle" style="color: green;"></i>
        <span style="color: green;">Digitally Signed</span>
        {% else %}
        <i class="fas fa-times-circle" style="color: red;"></i>
        <span style="color: red;">Not Verified</span>
        {% endif %}
        <!-- Show verified in blockchain mark if the document is verified in blockchain with the text "Verified in Blockchain" and show not verified in blockchain mark if the document is not verified in blockchain with the text "Not Verified in Blockchain" -->
        <p>
        {% if post.blockchain_verified %}
        <i class="fas fa-check-circle" style="color: green;"></i>
        <span style="color: green;">Verified in Blockchain</span>
        {% else %}
        <i class="fas fa-times-circle" style="color: red;"></i>
        <span style="color: red;">Not Verified in Blockchain</span>
        {% endif %}
        </p>
        <p class="card-text"><small class="text-muted">Posted by {{post.author_username}} on {{post.created_at}}</small>
        </p>    
    </div>
</div>
{% endfor %}
{% endif %}

<br><br><br>

<h3 class="text-left">Search Orgs & Share Files: </h3>
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        <!-- make a form with dropdown for selecting the type and searchbar for searching the name -->
        <div class="form-group">
            <label for="search">Enter Organization/Healthcare Professional Name</label>
            <br>
            <input type="text" class="form-control" id="search" name="search" placeholder="Search">
            <br>
            <label for="search">Enter Location (if applicable)</label>
            <br>
            <input type="text" class="form-control" id="location" name="location" placeholder="Location">
            <br>
        </div>

        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type">
                <option value="healthcarepro"> Healthcare Professional </option>
                <option value="hospital"> Hospital </option>
                <option value="pharmacy"> Pharmacy </option>
                <option value="insurance"> Insurance </option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        
        <br> <br>
    </form>
</div>


<!-- Display the details of the searched person if found -->
<div class="container-fluid">
    {% if results %}
    <table class="table table-striped">
        <h3>Details Found!</h3>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Location</th>
                <th scope="col">Description</th>
                <th scope="col">Contact</th>
                <th scope="col">Share Documents Button</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            {% if result.is_active %}
            <tr>
                {% if result.role == 'healthcarepro' %}
                <td>{{result.user.first_name}} {{result.user.last_name}}</td>
                {% else %}
                <td>{{result.organisation_name}}</td>
                {% endif %}
                <td>{{result.user.email}}</td>
                <td>{{result.location}}</td>
                <td>{{result.description}}</td>
                <td>{{result.contact}}</td>
                <!-- Send the searched person back as a hidden input -->
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="receiver" value="{{result.user.id}}">
                        <button type="submit" class="btn btn-primary">Share Documents</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>

{% endblock %}